#!/bin/bash
# 2024_11_11_09_08_13_mr2000_product
declare user_debug="False"
declare robuster_git_user="rpp:shihe321"
declare local_drivers_repos="$HOME/rpp_ws/src/drivers"
declare local_robot_repos="$HOME/rpp_ws/src/robot"
declare local_slam_repos="$HOME/rpp_ws/src/slam"
declare local_navigation_repos="$HOME/rpp_ws/src/navigation"
declare local_manipulator_repos="$HOME/rpp_ws/src/manipulator"
declare local_application_repos="$HOME/rpp_ws/src/application"
declare local_vision_repos="$HOME/rpp_ws/src/vision"
declare local_tools_repos="$HOME/rpp_ws/src/tools"
declare locla_3rdparty_repos="$HOME/3rdparty"
declare locla_rpp_data="$HOME/rpp_data"
declare locla_rpp_tools="$HOME/rpp_tools"
declare nvidia_gpu_model="None"
declare car_mode="robot"
declare system_architecture="Linux_amd64"
declare PS1_STRING="\\[\033[1;32m\\]\u\\[\033[1;36m\\]<\\[\033[1;32m\\]$car_mode\\[\033[1;36m\\]>:\\[\033[1;34m\\]\w\\[\033[0m\\]\\$ '"
declare apt_source_url="https://mirrors.tuna.tsinghua.edu.cn"
declare pip_source_url="https://pypi.tuna.tsinghua.edu.cn/simple"
declare rpp_tools_link="http://file.robotplusplus.com.cn/common_tools/1.1.0"
declare git_3rdparty_link="https://git.robotplusplus.com.cn/third-party"
declare ros1_source_url="https://mirrors.tuna.tsinghua.edu.cn/ros/ubuntu/"
declare ros_distro_version="melodic"
declare debian_pkgs="nomachine_*.deb"
declare python2_pip_pkgs="rospkg pyserial numpy pyrsistent==0.15   ipywidgets==7.5.1 open3d==0.9"
declare python3_pip_pkgs="numpy catkin-tools"
declare apt_pkgs="openssh-server python python3 python-pip python3-pip htop tree curl wget wireshark proxychains4 gawk vim git gimp kazam   pcl-tools net-tools bleachbit libeigen3-dev libmodbus-dev libserial-dev cmake libyaml-cpp-dev libpcap-dev libgeographic-dev libsuitesparse-dev libsdl-image1.2-dev libsdl-dev"
declare apt_ros_pkgs="ros-control position-controllers  effort-controllers  velocity-controllers gazebo-ros gazebo-ros-control moveit moveit-servo combined-robot-hw trac-ik-kinematics-plugin  joint-trajectory-controller joint-state-controller effort-controllers   ros-controllers  joint-state-publisher-gui joy teleop-twist-joy ddynamic-reconfigure ecl serial catkin-virtualenv ros-numpy costmap-converter mbf-costmap-core mbf-msgs  libg2o tf2-sensor-msgs ira-laser-tools pcl-ros pointcloud-to-laserscan"
declare source_build_repos="
https://git.robotplusplus.com.cn/drivers/drivers-ros/wit_node.git>...<$robuster_git_user>...<v3.0.0>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/drivers/drivers-ros/pavo_ros.git>...<$robuster_git_user>...<featureV3.0.1>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/robuster/robuster_driver.git>...<$robuster_git_user>...<mr1000-devel>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/drivers/robosense-lidar/rslidar_sdk.git>...<$robuster_git_user>...<>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/drivers/nmea_navsat_driver.git>...<$robuster_git_user>...<ros1_rpp>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/slam/fast-lio-sam/fast_lio_sam.git>...<$robuster_git_user>...<mr2000-feat-3.0.1>...<$local_slam_repos>...<fast_lio_sam.build 
https://git.robotplusplus.com.cn/navigation/rst-tu-dortmund/teb_local_planner.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_navigation_repos>...< 
https://git.robotplusplus.com.cn/navigation/ros-planning/navigation.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_navigation_repos>...< 
https://git.robotplusplus.com.cn/navigation/ros-planning/navigation_msgs.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_navigation_repos>...< 
https://git.robotplusplus.com.cn/robot-application/navigation_2d.git>...<$robuster_git_user>...<mr2000-feat-3.0.1>...<$local_application_repos>...< 
https://git.robotplusplus.com.cn/robot-application/slam_3d.git>...<$robuster_git_user>...<mr2000-feat-3.0.1>...<$local_application_repos>...< 
https://git.robotplusplus.com.cn/robot-application/robot_bringup.git>...<$robuster_git_user>...<mr2000-feat-3.0.1>...<$local_application_repos>...< 
https://git.robotplusplus.com.cn/robuster/description/mr2000_description.git>...<$robuster_git_user>...<>...<$local_robot_repos>...< 
https://git.robotplusplus.com.cn/robuster/robuster_mr_msgs.git>...<$robuster_git_user>...<v3.0.0>...<$local_robot_repos>...< 
https://git.robotplusplus.com.cn/others/starterbutton.git>...<$robuster_git_user>...<mr2000-feat-3.0.1>...<$locla_rpp_tools>...< 
https://git.robotplusplus.com.cn/slam/pointcloud_to_2dmap.git>...<$robuster_git_user>...<>...<$locla_rpp_tools>...<pointcloud_to_2dmap.build 
https://git.robotplusplus.com.cn/others/rpp_data.git>...<$robuster_git_user>...<mr2000-feat-3.0.1>...<$locla_rpp_data>...<rpp_data.build"
