<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="arm_attach">
    <xacro:macro name="arm_attach" params="prefix:='' parent *origin">
        <link name="${prefix}arm_attach_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0" />
                <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://cr100_description/meshes/arm_attach_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
                </material>
            </visual>
            <collision>
                <origin
                    xyz="0 0 0"
                    rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://cr100_description/meshes/arm_attach_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
                </material>
            </collision>
        </link>
        <joint name="${prefix}arm_attach_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${prefix}arm_attach_link" />
            <axis xyz="0 0 0" />
        </joint>
    </xacro:macro>
</robot>