<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cr100">
    <xacro:include filename="$(find cr100_description)/xacro/cr100_macro.xacro" />

    <xacro:arg name="use_nominal_extrinsics" default="true" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="simulation_controllers"
        default="$(find cr100_description)/config/ros2_controllers.yaml" />

    <xacro:cr100 sim_gazebo="$(arg sim_gazebo)" />

    <xacro:if value="$(arg sim_gazebo)">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(arg simulation_controllers)</parameters>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>