<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="trunk">
    <xacro:macro name="trunk" params="prefix:='' parent *origin">
        <link name="${prefix}trunk_link">
            <inertial>
                <origin xyz="0.227000000000003 0 0" rpy="0 0 0" />
                <xacro:Box_inertial_matrix m="50" l="0.7" w="0.6" h="0.35" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://cr100_description/meshes/trunk_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://cr100_description/meshes/trunk_link.STL" />
                    <!-- <mesh filename="package://cr100_description/meshes/trunk_link_collision.STL" /> -->
                    <!-- <box size="0.6 0.6 0.4"/> -->
                </geometry>
            </collision>
        </link>
        <joint name="${prefix}trunk_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${prefix}trunk_link" />
            <axis xyz="0 0 0" />
        </joint>
    </xacro:macro>
</robot>