#!/bin/bash
export SCRIPT_ROOT_PATH="$HOME/rpp_tools/rpp_easy_tools/robotplusplus_deploy_tool"
export PATH=$SCRIPT_ROOT_PATH/../gen_bin:$PATH
if [[ $- == *i* ]]; then #仅当 Shell 是交互式的情况下，加载补全功能https://askubuntu.com/questions/829069/what-does-i-return-mean
    source "$SCRIPT_ROOT_PATH/base/.rpp_completion/rpp_completion.completion"
fi

