#!/bin/bash
# 2024_10_10_17_48_50_t503_image
declare robuster_git_user="rpp:shihe321"
declare local_drivers_repos="$HOME/rpp_ws/src/drivers"
declare local_robot_repos="$HOME/rpp_ws/src/robot"
declare local_slam_repos="$HOME/rpp_ws/src/slam"
declare local_navigation_repos="$HOME/rpp_ws/src/navigation"
declare local_manipulator_repos="$HOME/rpp_ws/src/manipulator"
declare local_application_repos="$HOME/rpp_ws/src/application"
declare local_vision_repos="$HOME/rpp_ws/src/vision"
declare locla_3rdparty_repos="$HOME/3rdparty"
declare car_mode="robot"
declare system_architecture="Linux_arm64"
declare PS1_STRING="\\[\033[1;32m\\]\u\\[\033[1;36m\\]<\\[\033[1;32m\\]$car_mode\\[\033[1;36m\\]>:\\[\033[1;34m\\]\w\\[\033[0m\\]\\$ '"
declare apt_source_url="https://mirrors.tuna.tsinghua.edu.cn"
declare pip_source_url="https://pypi.tuna.tsinghua.edu.cn/simple"
declare rpp_tools_link="http://file.robotplusplus.com.cn/common_tools/1.0.0"
declare git_3rdparty_link="https://git.robotplusplus.com.cn/third-party"
declare ros1_source_url="https://mirrors.tuna.tsinghua.edu.cn/ros/ubuntu/"
declare ros_distro_version="melodic"
declare debian_pkgs="ros-melodic-robuster-demo-gui*.deb nomachine_*.deb"
declare python2_pip_pkgs="rospkg pyserial numpy"
declare python3_pip_pkgs="numpy catkin-tools pycuda"
declare apt_pkgs="openssh-server python python3 python-pip python3-pip htop tree curl wget wireshark proxychains4 gawk vim git gimp kazam   pcl-tools net-tools bleachbit libeigen3-dev libmodbus-dev libserial-dev cmake libceres-dev libsuitesparse-dev libsdl-image1.2-dev libsdl-dev"
declare apt_ros_pkgs="ros-control position-controllers  effort-controllers  velocity-controllers gazebo-ros gazebo-ros-control moveit moveit-servo combined-robot-hw trac-ik-kinematics-plugin  joint-trajectory-controller joint-state-controller effort-controllers   ros-controllers  joint-state-publisher-gui joy teleop-twist-joy ddynamic-reconfigure ecl serial serial sparse-bundle-adjustment costmap-converter mbf-costmap-core mbf-msgs  libg2o tf2-sensor-msgs moveit-visual-tools py-trees* moveit-commander rqt-py-trees"
declare source_build_repos="
https://git.robotplusplus.com.cn/drivers/intelrealsense/librealsense.git>...<$robuster_git_user>...<t503V3.0.0>...<$locla_3rdparty_repos>...<rpp_nx_librealsense.build 
https://git.robotplusplus.com.cn/drivers/drivers-ros/wit_node.git>...<$robuster_git_user>...<v3.0.0>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/drivers/drivers-ros/lakibeam1.git>...<$robuster_git_user>...<v3.0.0>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/robuster/robuster_driver.git>...<$robuster_git_user>...<mr600_v3.0.0>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/drivers/drivers-ros/realsense-ros.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_drivers_repos>...< 
https://git.robotplusplus.com.cn/third-party/elewu/lidar_undistortion_2d.git>...<$robuster_git_user>...<v3.0.0>...<$local_slam_repos>...< 
https://git.robotplusplus.com.cn/slam/stevemacenski/slam_toolbox.git>...<$robuster_git_user>...<v3.0.0>...<$local_slam_repos>...< 
https://git.robotplusplus.com.cn/navigation/rst-tu-dortmund/teb_local_planner.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_navigation_repos>...< 
https://git.robotplusplus.com.cn/navigation/ros-planning/navigation.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_navigation_repos>...< 
https://git.robotplusplus.com.cn/navigation/ros-planning/navigation_msgs.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_navigation_repos>...< 
https://git.robotplusplus.com.cn/drivers/manipulator/jaka_robot/jaka_robot.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_manipulator_repos>...< 
https://git.robotplusplus.com.cn/robot-application/navigation_2d.git>...<$robuster_git_user>...<mr600_v3.0.0>...<$local_application_repos>...< 
https://git.robotplusplus.com.cn/robot-application/robot_bringup.git>...<$robuster_git_user>...<mmc1_v3.0.0>...<$local_application_repos>...< 
https://git.robotplusplus.com.cn/robot-application/moveit_config/mmc1_moveit_config.git>...<$robuster_git_user>...<v3.0.0>...<$local_application_repos>...< 
https://git.robotplusplus.com.cn/robot-application/bt_task_manager.git>...<$robuster_git_user>...<v3.0.0>...<$local_application_repos>...< 
https://git.robotplusplus.com.cn/third-party/m-tartari/realsense_gazebo_description.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_vision_repos>...< 
https://git.robotplusplus.com.cn/third-party/pal-robotics/realsense_gazebo_plugin.git>...<$robuster_git_user>...<rppv3.0.0>...<$local_vision_repos>...< 
https://git.robotplusplus.com.cn/robuster/description/mmc1_description.git>...<$robuster_git_user>...<v3.0.0>...<$local_robot_repos>...< 
https://git.robotplusplus.com.cn/robuster/robuster_mr_msgs.git>...<$robuster_git_user>...<v3.0.0>...<$local_robot_repos>...< 
https://git.robotplusplus.com.cn/robuster-gui/robuster_demo_gui.git>...<$robuster_git_user>...<v3.0.0>...<$local_robot_repos>...<"
