#!/bin/bash

# 支持空字符串，3060，3080，3090，4060，4080，4090
declare nvidia_gpu_model="3080"


declare apt_source_url="https://mirrors.tuna.tsinghua.edu.cn"
declare pip_source_url="https://pypi.tuna.tsinghua.edu.cn/simple"
declare rpp_tools_link="http://file.robotplusplus.com.cn/common_tools/Linux_amd64/"
declare nvidia_toolkit_link="http://file.robotplusplus.com.cn/nvidia/ubuntu18.04-cuda-11.4.0-cudnn-8.4.1.50-tensorrt-8.4.1.5-amd64/"
declare git_3rdparty_link="https://git.robotplusplus.com.cn/third-party"
declare ros1_source_url="https://mirrors.tuna.tsinghua.edu.cn/ros/ubuntu/"
declare ros_distro_version="noetic"


declare apt_pkgs="openssh-server \
python3  python3-pip \
htop tree \
curl wget wireshark proxychains4 \
gawk vim \
git \
gimp kazam \
"

declare debian_pkgs="code_*.deb \
nomachine_*.deb \
"

declare python2_pip_pkgs=""

declare python3_pip_pkgs="numpy"

declare apt_ros_pkgs=" \
ros-control joint-state-controller \
position-controllers  effort-controllers  velocity-controllers \
gazebo-ros gazebo-ros-control \
moveit moveit-servo combined-robot-hw \
trac-ik-kinematics-plugin \
"

declare source_build_repos="
https://git.robotplusplus.com.cn/mmx5_4.0/robots_description/robots_description_dependencies/mr1000_chassis_description.git>...<rpp:shihe321>...<>...<~/rpp_ws/src>...<rpp_catkin_build.build
https://git.robotplusplus.com.cn/mmx5_4.0/robots_description/robots_description_dependencies/mr1000_navigation_description.git>...<rpp:shihe321>...<>...<~/rpp_ws/src>...<
"

