#!/bin/bash
# 2024_10_30_16_34_38_zbox_3080_1804_image
declare user_debug="True"
declare robuster_git_user="rpp:shihe321"
declare local_drivers_repos="$HOME/rpp_ws/src/drivers"
declare local_robot_repos="$HOME/rpp_ws/src/robot"
declare local_slam_repos="$HOME/rpp_ws/src/slam"
declare local_navigation_repos="$HOME/rpp_ws/src/navigation"
declare local_manipulator_repos="$HOME/rpp_ws/src/manipulator"
declare local_application_repos="$HOME/rpp_ws/src/application"
declare local_vision_repos="$HOME/rpp_ws/src/vision"
declare local_tools_repos="$HOME/rpp_ws/src/tools"
declare locla_3rdparty_repos="$HOME/3rdparty"
declare locla_rpp_data="$HOME/rpp_data"
declare locla_rpp_tools="$HOME/rpp_tools"
declare nvidia_gpu_model="3080"
declare car_mode="robot"
declare system_architecture="Linux_amd64"
declare PS1_STRING="\\[\033[1;32m\\]\u\\[\033[1;36m\\]<\\[\033[1;32m\\]$car_mode\\[\033[1;36m\\]>:\\[\033[1;34m\\]\w\\[\033[0m\\]\\$ '"
declare apt_source_url="https://mirrors.tuna.tsinghua.edu.cn"
declare pip_source_url="https://pypi.tuna.tsinghua.edu.cn/simple"
declare rpp_tools_link="http://file.robotplusplus.com.cn/common_tools/1.1.0"
declare rpp_data_link="http://file.robotplusplus.com.cn/rpp_data/1.0.0"
declare nvidia_toolkit_link="http://file.robotplusplus.com.cn/nvidia/ubuntu18.04-cuda-11.4.0-cudnn-8.4.1.50-tensorrt-8.4.1.5-amd64/"
declare git_3rdparty_link="https://git.robotplusplus.com.cn/third-party"
declare ros1_source_url="https://mirrors.tuna.tsinghua.edu.cn/ros/ubuntu/"
declare ros_distro_version="melodic"
declare debian_pkgs="code_*.deb nomachine_*.deb SunloginClient_*.deb"
declare python2_pip_pkgs="catkin-tools rospkg pyserial numpy"
declare python3_pip_pkgs="numpy"
declare apt_pkgs="openssh-server python python3 python-pip python3-pip htop tree curl wget wireshark proxychains4 gawk vim git gimp kazam   pcl-tools net-tools bleachbit libeigen3-dev libmodbus-dev libserial-dev cmake"
declare apt_ros_pkgs="ros-control position-controllers  effort-controllers  velocity-controllers gazebo-ros gazebo-ros-control moveit moveit-servo combined-robot-hw trac-ik-kinematics-plugin  joint-trajectory-controller joint-state-controller effort-controllers   ros-controllers  joint-state-publisher-gui joy teleop-twist-joy ddynamic-reconfigure"
declare source_build_repos="
https://git.robotplusplus.com.cn/third-party/borglab/gtsam.git>...<$robuster_git_user>...<4.2.0>...<$locla_3rdparty_repos>...<gtsam.build 
https://git.robotplusplus.com.cn/others/rpp_fast_migrate_record.git>...<$robuster_git_user>...<>...<$locla_rpp_tools>...<rpp_fast_migrate_record.build"
